<p>
  Current Print Jobs
</p>
<div>
<ul>
<li *ngFor="let job of printjobs; index as i">
<button class='btn btn-primary btn-lg' (click)="openModal('custom-modal-2', i)">{{job.ref_no}}</button>
  </li>
</ul>
<div  class="content">
  <button class='btn btn-primary btn-lg' (click)="previousClick()" [attr.disabled]="isFirst ? '' : null">previous</button>
  <button class='btn btn-primary btn-lg' (click)="nextClick()" [attr.disabled]="isLast ? '' : null">next</button>
  </div>
</div>



<jw-modal id="custom-modal-1">
  <h1>A Custom Modal!</h1>
  <p></p>
  <button (click)="closeModal('custom-modal-1');">Close</button>
</jw-modal>

<jw-modal  id="custom-modal-2">
  <h1 style="height:300px">Print properties</h1>
  <div *ngIf="currentPrintJob">
  <p>{{currentPrintJob.client_id}}</p>
  <p>{{currentPrintJob.color}}</p>
  <p>{{currentPrintJob.document_id}}</p>
  <p>{{currentPrintJob.download_link}}</p>
  <p>{{currentPrintJob.ref_no}}</p>
  <p>{{currentPrintJob.side}}</p>
  <p>{{currentPrintJob.status}}</p>
  </div>  
  <button (click)="closeModal('custom-modal-2');">Close</button>
</jw-modal>